extends ../layout

block content
	div Database operations
	hr
	div(class='flex-container-horizontal')
		button(onclick='reset_db();', class='menu_button') Reset database
		div(class='flex-container-vertical')
			div(class='flex-container-horizontal')
				input(type="checkbox", id='clear_workers')
				label(for='clear_workers') Clear worker database (WARNING! This will clear all worker information and create ONE default admin account!!! After using this operation, you will have to log in with ID:9001 and PIN:1009. You should then change your PIN at the earliest convenience.)
			div(class='flex-container-horizontal')
				input(type="checkbox", id='clear_registrations')
				label(for='clear_registrations') Clear clock-in/clock-out data
			div(class='flex-container-horizontal')
				input(type="checkbox", id="clear_taskassignments")
				label(for="clear_taskassignments") Clear task assignments
			div(class='flex-container-horizontal')
				input(type="checkbox", id="clear_tasks")
				label(for="clear_tasks") Clear task definitions
			div(class='flex-container-horizontal')
				input(type="checkbox", id="clear_taskcompletions")
				label(for="clear_taskcompletions") Clear task completion information
			div(class='flex-container-horizontal')
				input(type="checkbox", id="clear_taskschedules")
				label(for="clear_taskschedules") Clear task schedules
			div(class='flex-container-horizontal')
				input(type="checkbox", id="db_operations_confirm")
				label(for="db_operations_confirm") Confirm database operations
	hr
	include ../includes/nav
	script(type='text/javascript').
		$(window).on('load', function () {
			$("#clear_workers").change(function () {
				if ($("#clear_workers").prop("checked") === true) {
					$("#clear_registrations").prop("checked", true);
					$("#clear_taskcompletions").prop("checked", true);
					$("#clear_taskassignments").prop("checked", true);
				}
			});

			$("#clear_registrations").change(function () {
				if ($("#clear_registrations").prop("checked") === true) {
					$("#clear_taskcompletions").prop("checked", true);
				} else {
					$("#clear_workers").prop("checked", false);
				}
			});

			$("#clear_tasks").change(function () {
				if ($("#clear_tasks").prop("checked") === true) {
					$("#clear_taskcompletions").prop("checked", true);
					$("#clear_taskschedules").prop("checked", true);
					$("#clear_taskassignments").prop("checked", true);
				}
			});

			$("#clear_taskassignments").change(function () {
				if ($("#clear_taskassignments").prop("checked") === false) {
					$("#clear_workers").prop("checked", false);
					$("#clear_tasks").prop("checked", false);
				}
			});

			$("#clear_taskcompletions").change(function () {
				if ($("#clear_taskcompletions").prop("checked") === false) {
					$("#clear_tasks").prop("checked", false);
					$("#clear_registrations").prop("checked", false);
					$("#clear_workers").prop("checked", false);
				}
			});

			$("#clear_taskschedules").change(function () {
				if ($("#clear_taskschedules").prop("checked") === false) {
					$("#clear_tasks").prop("checked", false);
				}
			});
		});

		function reset_db() {
			if ($("#db_operations_confirm").prop("checked") === true) {
				$.post('/admin/db/reset', {
					clear_workers: $("#clear_workers").prop("checked"),
					clear_registrations: $("#clear_registrations").prop("checked"),
					clear_taskcompletions: $("#clear_taskcompletions").prop("checked"),
					clear_taskassignments: $("#clear_taskassignments").prop("checked"),
					clear_tasks: $("#clear_tasks").prop("checked"),
					clear_taskschedules: $("#clear_taskschedules").prop("checked"),
				})
					.done(function () {
						showFlashMessage("Database successfully reset.");
					}).fail(function () {
					showFlashMessage("An error occurred.");
				});
			}
		}
		