div(class='flex-container-vertical')
	div(class='flex-container-horizontal')
		button(type='button', onclick='keypad(1);', class='keypad-button') 1
		button(type='button', onclick='keypad(2);', class='keypad-button') 2
		button(type='button', onclick='keypad(3);', class='keypad-button') 3
	div(class='flex-container-horizontal')
		button(type='button', onclick='keypad(4);', class='keypad-button') 4
		button(type='button', onclick='keypad(5);', class='keypad-button') 5
		button(type='button', onclick='keypad(6);', class='keypad-button') 6
	div(class='flex-container-horizontal')
		button(type='button', onclick='keypad(7);', class='keypad-button') 7
		button(type='button', onclick='keypad(8);', class='keypad-button') 8
		button(type='button', onclick='keypad(9);', class='keypad-button') 9
	div(class='flex-container-horizontal')
		button(type='button', onclick='clear_input();', class='keypad-button') ✘
		button(type='button', onclick='keypad(0);', class='keypad-button') 0
		button(type='button', onclick='ok();', class='keypad-button') ✔
